AndrewNG_Slides/Course 1/1. Standard notations for Deep Learning.pdf
AndrewNG_Slides/Course 1/2. Binary_Classification.pdf
AndrewNG_Slides/Course 1/3. Logistic_Regression.pdf
AndrewNG_Slides/Course 1/4. Logistic_Regression_Cost_Function.pdf
AndrewNG_Slides/Course 1/C1_W1.pdf
AndrewNG_Slides/Course 1/C1_W2.pdf
AndrewNG_Slides/Course 1/C1_W3.pdf
AndrewNG_Slides/Course 1/C1_W4.pdf
AndrewNG_Slides/Course 2/C4_W1.pdf
AndrewNG_Slides/Course 2/C4_W2.pdf
AndrewNG_Slides/Course 2/C4_W3.pdf
AndrewNG_Slides/Course 2/C4_W4.pdf
Assignments/
Dataset/